@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

.App {
  text-align: center;
  font-family: "Fjalla One";
  background-color: darkmagenta;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: white;
  height: 10%;
  padding: 20px;
  color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.Container {
  color: white;
  font-size: 24px;
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Options {
  display: flex;
  justify-content: space-around;
}

.Content {
  min-width: 200px;
  max-width: 600px;
}

/* Keep screen in portrait mode */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .App {
    height: 100vw;
  }
}